@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #E0FFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* navbar */

nav {
  display: flex;
  height: 94px;
  border-bottom: 2px solid #c59d5f;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  margin: 0 20px;
  color: #c59d5f;
  text-transform: uppercase;
}

li:hover {
  border-bottom: 2px solid #c59d5f;
  padding-bottom: 4px;
  cursor: pointer;
}

/* footer */

footer {
  height: 94px;
  border-top: 2px solid #c59d5f;
  display: flex;
}

footer p {
  margin: auto;
  color: #c59d5f;
}