@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* navbar */

nav {
  display: flex;
  height: 94px;
  border-bottom: 3px solid #c59d5f;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  margin: 0 20px;
  color: #c59d5f;
  text-transform: uppercase;
}

li:hover {
  border-bottom: 2px solid #c59d5f;
  padding-bottom: 4px;
  cursor: pointer;
}

/* main content */

.content {
  background-color: white;
  height: 100%;
  max-height: calc(100% - 188px);
  overflow: scroll;
  text-align: center;
}

h1 {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #c59d5f;
}

h3 {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #c59d5f;
}

.main-img {
  max-width: -webkit-fill-available;
  padding: 5px;
}

button {
  color: #c59d5f;
  background: black;
  padding: 8px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}

button:hover {
  color: white;
}

/* about section text */

.inner-text {
  margin: 20% auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* menu section */

.menu-gallery {
  margin: 20% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-img {
  max-width: 300px;
  height: auto;
  margin: 10px;
}

/* footer */

footer {
  height: 94px;
  border-top: 3px solid #c59d5f;
  display: flex;
}

footer p {
  margin: auto;
  color: #c59d5f;
}